<nav class="navbar navbar-default navbar-fixed-top" style="background-color:blue;height:60px;color:white" role="navigation">
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="/" style="color:white">Home</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-center">
      <li>
        <a routerLink="about" style="color:white">About</a>
      </li>
      <li>
        <a routerLink="music" style="color:white">Music</a>
      </li>
      <li>
        <a routerLink="videos" style="color:white">Videos</a>
      </li>
      <li>
        <a routerLink="activity" style="color:white">Activity</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a routerLink="signup" style="color:white">Sign Up</a>
      </li>
      <li>
        <a routerLink="login" style="color:white">{{loginLogout}}</a>
      </li>
    </ul>
  </div>
</nav>
